
.card {
  font-family: Optima, sans-serif;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 0.5rem 0.5rem 0 0.5rem;
    border-bottom: 2px solid rgb(183, 216, 209);
    background-color: #63888b
  }

  
.dark .card {
  border-bottom: 2px solid rgb(49, 99, 96);
}
.card-grid{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 90vw;
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
    background-color: #538083
  }
  
  .card-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 33px;
  }
  
  .card-grid h3 {
    font-size: 1.2rem;
    margin: 0.1rem 0.1rem;
  }
  
  .card-grid p {
    /* margin: 0; */
    color: #040404;

  } 

   .favButton{
    border: none;
    cursor: pointer;
    background-color: #63888b;
    padding: auto;
    margin: auto;
  }
  .dark .favButton{
    background-color: #334748
  }
  

  .dark .card {
    background-color: #334748;
    
  }
  
  .dark .card h3 , .dark .card p {
    color: rgb(214, 218, 217);
  
  }
  
  .dark .card-grid {
    background-color:#20393a;
  }
