
  .detail-container h1,
  .detail-container h2 {
    margin: 10px 0;
  }
  
  .detail-container h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .detail-container h2 {
    font-size: 1.2rem;
    color: var(--detail-subtext-color);
  }
  .detalleGeneral {
    text-align: center;
  }
  .detail-container {
    background-color: rgb(212, 245, 250);
    padding: 2rem;
    max-width: 800px;
    margin: 2rem auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  table {
    border-collapse: collapse;
       border-spacing: 0;
       width: 100%;
       display: table;
       border: 1px solid #ccc;
   
   }
   
   td, th {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
   }
   
   tr:nth-child(even) {
     background-color: #dddddd;
   }
